
body * {
  box-sizing: border-box;
}

html {
  background-color: #00B7C2;
}

page {

  display: block;
  padding: 1em 1em 150px;
  width: 100%;

  color: #ECF8F1;
  text-align: center;
  font-family: 'Libre', sans-serif;

  background-color: #00B7C2;
  background-image: radial-gradient(circle farthest-corner at left,
  #00B7C2 50%,#111132 50%);
 }


h1 {
  font-family: 'Roboto', sans-serif; 
  font-size: 4em;
  margin-bottom: .5em;
  text-shadow: .1em .1em 12px rgba(17, 17, 50, .25);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  padding: 0 .5em .5em;
  margin: 0;
  text-shadow: .1em .05em 12px rgba(17, 17, 50, .25);
}

h3 {
  font-size: 2em;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  align-self: center;
}

header {
   padding: 2em 0 4em;
}

a {
  text-decoration: none;
  color: #ECF8F1;
  height: 100%;
  width: 100%;
  display: flex;
} 


@media only screen {
  a {
    color:#EBAC5C;
  }
  .link {
    color: #EBAC5C;
  }
}


a:hover, a:focus {
  color: #EBAC5C;
} 

.shelf {
  display: flex;
  flex-direction: column;

  margin: auto;
  margin-bottom: 100px;

  width: 340px;
  height: 1200px;

  border: solid 20px #ECF8F1;
  box-shadow: 1.2em 0em 2em rgba(38, 96, 110, .5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
}

.cubbie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 300px;
  height: 300px;

  border: solid 12px #ECF8F1;
  box-shadow: .9em 1.2em 1em 1em rgba(17, 17, 50, .25) inset; 
 }

.hidden {
   display: none;
 }

.found {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 1em 1em;

  background-color:  #266083;

  font-size: 1.5em;
  text-align: left;

  width: 98%;
  
  position: absolute;
  top: 11em;
  left: 1%;
  z-index: 20;
 
  box-shadow: .9em 1.2em 1em rgba(28, 138, 165, 0.5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
  border-radius: 2px;
}

.close {
  display: flex;
  align-self: flex-end;

  background: transparent;

  color: #ECF8F1;
  font-size: 2em;
 
  border: none;
}

.close:hover{
  color:#EBAC5C;
}

.my-photo {
  box-sizing: content-box;
  align-self: center; 
  width: 250px;
  
  border: solid 16px #ECF8F1;
  border-radius: 2px; 
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 2.4em auto 3em;
  max-width: 700px;
  line-height: 1.2;
}

.about-me {
  display: flex;
  flex-direction: column; 
  margin: 1em auto 3em;
  max-width: 700px;
  line-height: 1.2;
}

.contact-div, .resume-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 2em 3em;
  margin: 1em auto 2em;

  border: solid 12px #ECF8F1;
  border-radius: 2px;
}

.contact-div a {
  margin: 0;
}

img {
  width: 100%;
  margin-bottom: 24px;
}

.img-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.link {
  color:#EBAC5C;
  text-decoration: none;
}

.link:visited {
  color: #C87B5B;
}

.link:hover {
  color:#FFDE32;
}

.project-title{
  color: #FFDE32;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
 
  margin-left: 1em;  
}

.phone > * {
  display: flex;
  flex-direction: row;
  max-width: 400px;

  margin-right: 1em;
}

/* .collaborators {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: .8em;
}

.collaborators a {
  padding-left: 1em;
} */

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .2em;
}

.repos {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: none;
}


/* ===============SHAPES ON THE SHELF ===============*/

a[name]{
  background-color: #ECF8F1;

  color:  rgb(38, 96, 110);
  font-weight: bold;

  box-shadow: 1.2em -.2em 1em rgba(38, 96, 110, .5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
}

a[name]:hover {
  background-color: #EBAC5C;
}

a[name='about-me'] {
  margin-right: -32px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

a[name='about-me'] h3{
  position: relative;
  top: 16px;
  left: 8px;
}

a[name='projects'] {
  margin-left: -48px;
  height: 180px;
  width: 144px;
}

a[name='projects'] h3 {
  position: relative;
  top: 8px;
  left: 8px;
}

a[name='contact'] {
  margin-left: -36px;
  height:132px;
  width: 172px;
}

a[name='contact'] h3 {
  position: relative;
  top: 8px;
  left: 24px;
}

a[name='resume'] {
  margin-right: -32px;

  background-color: transparent;
  height: 0;
  width: 0;

  border-bottom: 176px solid  #ECF8F1;
  border-left: 200px solid transparent;
  box-shadow: none;
}

a[name='resume'] h3 {
  position: relative;
  top: 104px;
  left: -144px;
}  

a[name='resume']:hover {
  background-color: transparent;
  border-bottom-color:  #EBAC5C;
} 


/* ==== MEDIA AT 640px ======================= */

@media (min-width: 640px){

  h4 {
    align-self: flex-start;
    font-size: 2em;
  }

  img {
    border: solid 18px #ECF8F1;
    border-radius: 2px;
  }

  .found {
    width: 90%;
    left: 5%;
    top: 13em;
  }

  .contact-div, .resume-div {
    border: solid 24px #ECF8F1;
    border-radius: 2px;
  }

  /* .collaborators {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: .8em;
  } */
}



 /* ==== MEDIA at 768px================== */ 

@media (min-width: 768px){

  html {
  background-color: #111132;
  }

  page {
    background-image: 
    radial-gradient(circle farthest-corner at right 141%,#111138 58%, #00B7C2 0, transparent), 
    radial-gradient(circle farthest-corner at left -31%,#111132 53%, #00B7C2 0);
    
    margin-left: auto;
    margin-right: auto;

    max-width: 1500px;
  }

  .shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 640px;
    height: 640px;
  }

  .cubbie {
    width: 300px;
    height:300px;
    border: solid 12px #ECF8F1;
  }

  .found {
    padding-left: 2em;
    padding-right: 2em;
    z-index: 20;
  }

  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .github-repos a:first-child {
    margin-right: 2em;
  }

  .phone {
    flex-direction: row;
  }

  .resume-link {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


/* ==== MEDIA at 860px ========================= */

@media (min-width: 860px){
  page{
    background-image: 
      radial-gradient(circle farthest-corner at right 163%,#111132 61%, #00B7C2  0, transparent),                    
      radial-gradient(circle farthest-corner at left -48% ,#111132 59%, #00B7C4  0%)
  }
}


/* ==== MEDIA at 1000px ========================= */

@media (min-width: 1000px){
  page {
    background-image: 
      radial-gradient(circle farthest-corner at right 175%,#111138 64%, #00B7C2 0, transparent),        
      radial-gradient(circle farthest-corner at left -70%, #111132 61%, #00B7C2 0%)
  }
}


 /* ====  MEDIA at 1160px ========================== */

 @media (min-width: 1160px){
 
    .contact {
      display: flex;
    }

    .found {
      width: 80%;
      left: 10%;
    }
} 


/* ====  MEDIA at 1250px ============================== */

@media (min-width: 1250px){
  page {
    background-image:
      radial-gradient(circle farthest-corner at right 201%,#111138 68%, #00B7C2 0, transparent),             
      radial-gradient(circle farthest-corner at left -125%, #111132 68%, #00B7C2 0%)
  }
}

/* ==== MEDIA at 1500px ================================ */

@media (min-width: 1500px){

  page {
    margin-top: 3em;
    margin-bottom: 4em;
    border: 30px solid #ECF8F1;
  }

  .found {
    top: 15em;
    width: 70%;
    left: 15%;
  }
}

 
